*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #6b6e6eb4;
    font-family: 'Times New Roman', Times, serif;
}

.header-wrapper {
    border-radius: 3%;
    height: 50vh;
    width: 100vw;
    background: linear-gradient(-45deg, #050404, #2e2f7d, #0d1784, #010950);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 8s ease-in-out infinite;
    position: relative;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

a:hover {
    color: #6b6e6eb4;
    background-color: #fff;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%; 
    }
    100% {
        background-position: 0% 90%;
    }
}

.memory-game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgb(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; 
    transition: transform .9s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 28px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;    
}

.card-front {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 1rem 4rem;
    border: 1px solid #fff;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.footer {
    width: 100%;
    height: 80px;
    background: #6b6e6eb4;
    color: white;
    display: flex;
    justify-content: center;
    align-items:  center;
    
}


